
{{#if hasErrors}}
    <div class="alert alert-danger content" id="errMsg">
        {{#each messages}}
            <p>{{this}}</p>
        {{/each}}
    </div>
{{/if}}

<form action="/users/add" method="POST">
	<div class="card profile" style="max-width: 30rem;" >
	  
	  <img class="card-img-top img-circle" src="/images/avatar.jpg" alt="user" width="150">
	  <div class="card-block">

		  <div class="form-group row">
			  <label for="name" class="col-2 col-form-label">Imie</label>
			  <div class="col-10">
			    <input class="form-control" type="text" placeholder="" id="name" name="name" required>
			  </div>
		  </div>

		  <div class="form-group row">
			  <label for="email" class="col-2 col-form-label">Email</label>
			  <div class="col-10">
			    <input class="form-control" type="email" placeholder="" id="email" name="email" required>
			  </div>
		  </div>

		  <div class="form-group row">
			  <label for="tel" class="col-2 col-form-label">Tel</label>
			  <div class="col-10">
			    <input class="form-control" type="tel" placeholder="" id="tel" name="tel" required>
			  </div>
		  </div>

		  <div class="form-group row">
			  <label for="tajemnica" class="col-2 col-form-label">Tajemnica</label>
			  <div class="col-10">
			  	<select class="form-control" id="tajemnica" name="tajemnica">
				  	{{# each tajemnice}}
				      <option value={{number}}>{{name}}</option>
				    {{/each}}
			    </select>
			  </div>
		  </div> 

		  <div class="form-group row">
			  <label for="grupa" class="col-2 col-form-label">Grupa</label>
			  <div class="col-10">
			  	<select class="form-control" id="grupa" name="grupa">
				  	  <option value=0>bez grupy</option>
				  	{{# each grupy}}
				      <option value={{_id}}>{{name}}</option>
				    {{/each}}
			    </select>
			  </div>
		  </div>		  
	    

{{!-- 		<button type="button" class="btn btn-outline-primary ">Edit</button> --}}
		<button type="submit" class="btn btn-outline-success ">Save</button>
        <button type="button" onclick="goBack()" class="btn btn-outline-warning ">Cancel</button>
        {{!-- <button type="button" onclick="javascript:location.href='/'" class="btn btn-outline-warning ">test</button> --}}
	  </div>
	</div>
</form>


<script type="text/javascript">

$( document ).ready(function() {
	$('#errMsg').delay(5000).slideUp();

});



</script>