
{{#if hasErrors}}
    <div class="alert alert-danger content" id="errMsg">
        {{#each messages}}
            <p>{{this}}</p>
        {{/each}}
    </div>
{{/if}}

<form action="/admin/users/edit/{{data._id}}" method="POST" enctype="multipart/form-data" >
	<div class="card profile" style="max-width: 30rem;" >
	  
	  {{!-- <img class="card-img-top img-circle" src="/images/{{data.foto}}" alt="user" width="150" id="frame"> --}}

	  <div class="justify card-img-top">
		  
		  <img class="upload-demo" id="upload-demo" src="/admin/images/{{data.foto}}" width="150" height="150" />
		  {{!-- <div class="upload-demo" id="upload-demo"> </div> --}}
	  </div>

	  <input type="hidden" name="foto" id="imageData64"/>

	  <div class="card-block">
	  
	  	  <div class="card-img-top justify">
		  	<label class="btn btn-outline-success " for="upload">Upload photo max 500kB </label>
		  	<input class="btn btn-outline-success inputfile" type="file" id="upload" accept="image/*" name="uploadFile">
		  	<input class="btn btn-outline-danger " id="crop" type="button"  value="crop">
	  	  </div>
		  <br>

{{!-- 	  	  <div class="card-img-top">
	  		<input class="btn btn-outline-success inputfile" type="file" accept="image/*" name="foto" id="camera" >
	  		
	  		<label class="btn btn-outline-success justify" for="camera">Upload foto (required format 600x600)</label>
	  	  </div> --}}

		  <div class="form-group row">
			  <label for="name" class="col-2 col-form-label">Name</label>
			  <div class="col-10">
			    <input class="form-control" type="text" placeholder="" id="name" name="name" value="{{data.name}}" required>
			  </div>
		  </div>

		  <div class="form-group row">
			  <label for="email" class="col-2 col-form-label">Email</label>
			  <div class="col-10">
			    <input class="form-control" type="email" placeholder="" id="email" name="email" value="{{data.email}}" required>
			  </div>
		  </div>

		  <div class="form-group row">
			  <label for="tel" class="col-2 col-form-label">Tel</label>
			  <div class="col-10">
			    <input class="form-control" type="tel" placeholder="" id="tel" name="tel" value="{{data.tel}}" required>
			  </div>
		  </div>

		  <div class="form-group row">
			  <label for="tajemnica" class="col-2 col-form-label">Task</label>
			  <div class="col-10">
			  	<select class="form-control" id="tajemnica" name="tajemnica">
				  	{{# each tajemnice}}
				      <option value={{_id}}>{{name}}</option>
				    {{/each}}
			    </select>
			  </div>
		  </div> 

		  <div class="form-group row">
			  <label for="grupa" class="col-2 col-form-label">Group</label>
			  <div class="col-10">
			  	<select class="form-control" id="grupa" name="grupa">
				  	  <option value=0>no group</option>
				  	{{# each grupy}}
				      <option value={{_id}}>{{name}}</option>
				    {{/each}}
			    </select>
			  </div>
		  </div>		  
	    

{{!-- 		<button type="button" class="btn btn-outline-primary ">Edit</button> --}}
		<button type="submit" class="btn btn-outline-success ">Save</button>
        <button type="button" onclick="goBack()" class="btn btn-outline-warning ">Cancel</button>
        {{!-- <button type="button" onclick="javascript:location.href='/'" class="btn btn-outline-warning ">test</button> --}}


	  </div>
	</div>
</form>


<script type="text/javascript">

$( document ).ready(function() {
	$('#errMsg').delay(5000).slideUp();

	//stara obsługa wyboru zdjecia 
	  // var camera = document.getElementById('camera');
	  // var frame = document.getElementById('frame');

	  // camera.addEventListener('change', function(e) {
	  //   var file = e.target.files[0]; 
	  //   // Do something with the image file.
	  //   frame.src = URL.createObjectURL(file);
	  // });

	//nowa obsługa zdjecia
	var $uploadCrop;
	var reader = new FileReader();

	$("#crop").hide();
	
	function readFile(input) {
		//console.log(input.files[0]);
		if (input.files && input.files[0] ) {
 			if(input.files[0].size < 500000) {
	            if(reader)
	            	delete reader;
	            reader = new FileReader();
	            reader.onload = function (e) {
					$('.upload-demo').addClass('ready');


					if($uploadCrop)
            			$uploadCrop.croppie('destroy');

					$uploadCrop = $('#upload-demo').croppie({
						viewport: {
							width: 150,
							height: 150,
							type: 'square'
						},
						enableExif: true,
						boundary: {
					        width: 200,
					        height: 200
						},
						enableOrientation: true
					});

	            	$uploadCrop.croppie('bind', {
	            		url: e.target.result
	            	}).then(function(){
	            		console.log('jQuery bind complete');
	            	});

	            	$("#crop").show();
	            }
	            reader.readAsDataURL(input.files[0]);
        	}
        	else
        		alert("File too big - should be less than 500kB");
        }
        // else 
	       //  alert("you're browser doesn't support the FileReader API"); 
	}


	$('#upload').on('change', function () { readFile(this); });

	$('#crop').on('click', function (ev) {
		$uploadCrop.croppie('result', {
			type: 'canvas',
			size: 'viewport'
		}).then(function (resp) {
			console.log(resp);
			//frame.src=resp;  
			document.getElementById('upload-demo').src=resp;
			document.getElementById('imageData64').value = resp;
			$uploadCrop.croppie('destroy');
			$("#crop").hide();
		});
	});



	
    //ustawienie selecta na właściwej pozycji tajemnicy
    var options =document.getElementById('tajemnica').children;
    var currentTajemnica = JSON.parse('{{{json data.tajemnica._id}}}');
    for(i=0;i<options.length;i++) {
    	if (options[i].value===currentTajemnica) {
    		options[i].selected=true;
    	}
    }

    //ustawienie selecta na właściwej pozycji
    var options =document.getElementById('grupa').children;
    var currentGrupa = JSON.parse('{{{json data.grupa._id}}}');
    for(i=0;i<options.length;i++) {
    	console.log(currentGrupa,'-',options[i].value);
    	if (options[i].value===currentGrupa) {
    		options[i].selected=true;
    	}
    }
});



</script>