
{{#if hasErrors}}
    <div class="alert alert-danger content" id="errMsg">
        {{#each messages}}
            <p>{{this}}</p>
        {{/each}}
    </div>
{{/if}}



  <div class="card profile content" style="max-width: 30rem;" >
    
    <img class="card-img-top img-circle" src="/images/{{data.foto}}" alt="user" width="150">
    <div class="card-block">
      <h4 class="card-title text-center">{{data.name}}</h4>
      <p class="card-text"><strong>Email: </strong><a href="mailto:{{data.email}}">{{data.email}}</a></p>
      <p class="card-text"><strong>Tel: </strong> <a href="tel:{{data.tel}}">{{data.tel}}</a> </p>
      <p class="card-text"><strong>Tajemnica: </strong>{{data.tajemnica.name}}</p>
      <p class="card-text"><strong>Grupa: </strong><a href="/groups/profile/{{data.grupa._id}}"> {{data.grupa.name}}</a></p>
      <p class="card-text"><strong>Join date: </strong><i id="d1">{{data.joinDate}}</i></p>
      <p class="card-text"><strong>Last update: </strong><i id="d2">{{data.updateDate}}</i></p>

      <div class="justify">
        <button type="button" class="btn btn-outline-primary" onclick="javascript:location.href='/users/edit/{{data._id}}'">Edit</button>
        <button type="button" class="btn btn-outline-danger" onclick="javascript:location.href='/users/delete/{{data._id}}'">Delete</button>
      </div>

    </div>
  </div>







<script type="text/javascript">
  $( document ).ready(function() {

    $('#errMsg').delay(5000).slideUp();

    var d1 = new Date(document.getElementById('d1').innerHTML);
    document.getElementById('d1').innerHTML=d1.toDateString();

    var d2 = new Date(document.getElementById('d2').innerHTML);
    document.getElementById('d2').innerHTML=d2.toDateString();
  });
</script>