
<form action="/groups/addUsers/{{group}}" method="POST"> 
	<div class="container-fluid content">
	    <div class="row featurette justify">
	        {{# each data}}
	       	<div class=" col-md-6 col-lg-3 col-xlg-3 item">
	       		<a href="/users/profile/{{_id}}">
		       		<div class="row">
				        <div class="col-2 flex-center-vertically ">
				        	<img class=" img-circle" src="/images/avatar.jpg" alt="user" width="50">
				    	</div>
				    	<div class="col-8  ">
				            <h5><strong>  {{name}}</strong> </h5>
				            <h6><i class="fa fa-envelope" aria-hidden="true"></i>  {{email}} </h6>
				            <h6><i class="fa fa-users" aria-hidden="true"></i>  {{grupa.name}} </h6>
				            <h6><i class="fa fa-life-ring" aria-hidden="true"></i>  {{tajemnica.name}}</h6>
				  	    </div>
				  	    <div class="col-2 flex-center-vertically">
				  	    	<label class="custom-control custom-checkbox">
							    <input type="checkbox" class="custom-control-input" id="{{_id}}" value="{{_id}}" name="addUsers">
							    <span class="custom-control-indicator"></span>
						  	</label>
						</div>
			  		</div>
			  	</a>
		    </div>
	    	{{/each}}
	    </div>
	</div>

<a href="javascript:;" onclick="parentNode.submit();">
	<div class="fixed-bottom accept-button justify">
		<h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
	</div>
</a>


</form>


