
{{#if hasErrors}}
    <div class="alert alert-danger content" id="errMsg">
        {{#each messages}}
            <p>{{this}}</p>
        {{/each}}
    </div>
{{/if}}

<form action="/admin/users/zmianaTajemnic/update" method="POST" >
  <div class="card profile" style="max-width: 30rem;" >
    
    <div class="card-block">

      <h4 class="card-title text-center"> <strong>Change task</strong> </h4><br>
 
      <div class="form-group row">
        <label for="date" class="col-4 col-form-label">Planned date</label>
        <div class="col-8">
          <input class="form-control" type="datetime-local" id="date" name="date" value="{{ISODate data.dataZmiany}}" required>
        </div>
      </div>

      <input type="hidden" name="offset" id="timeOffset">

      <div class="form-group row">
        <label for="powtarzaj" class="col-4 col-form-label">Repeat</label>
        <div class="col-8">
          <select class="form-control" id="powtarzaj" name="powtarzaj">
            
            <option value=0 {{sel 0 data.powtarzaj}}>do not repeat</option>
            <option value=1 {{sel 1 data.powtarzaj}}>every week</option>
            <option value=2 {{sel 2 data.powtarzaj}}>every month</option>
            <option value=3 {{sel 3 data.powtarzaj}}>every quarter</option>
          </select>
        </div>
      </div> 

      <div class="form-group">
        <label class="custom-control custom-checkbox">
          {{#if data.powiadomienieEmail}}
            <input id="powiadomienieEmail" type="checkbox" class="custom-control-input" name="powiadomienieEmail" checked >
          {{else}}
            <input id="powiadomienieEmail" type="checkbox" class="custom-control-input" name="powiadomienieEmail" >
          {{/if}}
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Notification e-mail at the day of change</span>
        </label>
      
      <div></div> 

      </div>
     <br><br>
      
      <div class="justify">
        <button type="submit" class="btn btn-outline-success" id="zapisz">Save</button>
        <button type="button" class="btn btn-outline-danger" onclick="javascript:location.href='/admin/users/zmianaTajemnic/now'" >Zmień teraz</button>
      </div>
        {{!-- <button type="button" onclick="javascript:location.href='/'" class="btn btn-outline-warning ">test</button> --}}
    </div>
  </div>
</form>

<script type="text/javascript">

$( document ).ready(function() {
  $('#errMsg').delay(5000).slideUp();

// submit by ajax to info to server about local time offset
  $('form').submit(function(evt) {
    $('#timeOffset').val(new Date().getTimezoneOffset());
    evt.preventDefault();
    var url = $(this).attr("action");
    var formData = $(this).serialize();
    $.post(url, formData, function(response) {
        alert("Data zmieniona");
    }); // end post
  }); // end submit

//adjustment to local time of the date received in UTC time form serwer
  

  //var receivedDate=$('#date').val();
  // var offset=new Date().getTimezoneOffset()*60000;
  // var date = new Date(receivedDate)-offset;
  //console.log("handlebar converter date>>>",date);
  // var day = new Date(date).getDate();
  // var month = new Date(date).getMonth() + 1;
  // var year = new Date(date).getFullYear();
  // var hour = new Date(date).getHours();
  // var minute = new Date(date).getMinutes();
  // var second = "00";

  // if (month < 10) month = "0" + month;
  // if (day < 10) day = "0" + day;
  // if (hour <10) hour = "0" +hour;
  // if (minute <10) minute = "0" +minute;

  // var today = year + "-" + month + "-" + day + "T" + hour + ":" + minute + ":" + second;
  
  var receivedDate=JSON.parse('{{{json data.dataZmiany}}}');
  console.log(receivedDate);
  var today = moment.utc(receivedDate).local().format("YYYY-MM-DDTHH:mm:ss");


  $('#date').val(today);

});

</script>